<% form_for @translation_key, :url => translation_keys_path do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :key %>:
    <%= f.text_field :key %>
  </p>
  <p>
    <%= f.label :description %>: <br />
    <%= f.text_area :description, :size => "60x6" %>
  </p>
  <%= f.submit %>
<% end %>